.input-message {
  word-wrap: break-word;
  box-sizing: border-box;
  word-break: break-all;
  font-family: 'PT Serif';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgb(31 27 44);
  border-radius: 3px;
  resize: none;
  overflow-y: auto;
  height: 40px;
  max-height: 100px;
  padding: 8px;
  width: 100%;
  outline: none;
  grid-column: 2/3;
}
.input-message::-webkit-scrollbar {
  width: 0px;
}
.form-message {
  width: 100%;
  // display: grid;
  // grid-template-columns: auto 1fr;
  // align-items: end;
  > .message {
    &.voice {
      // grid-column: 2/3;
      display: flex;
      padding: 0px;
      margin: 0px;
      // display: grid;
      // grid-template-columns: auto auto;
      // align-items: end;
      > .voice_visual {
        border-color: rgb(47 155 67);
        height: 40px;
        grid-column: 2/3;
        width: 100%;
      }
    }
  }
}

.isRecord {
  display: none;
}

.send-message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
